<header>
    <nav id="menu-h">
        <ul>
            <li><a href="./" id="home">Home</a></li>
            <li><a href="./projects.html" id="projects">Projects</a></li>
            <li><a href="./component/blog/blog.html" id="blog">Blog</a></li>
            <li><a href="./volunteering.html" id="volunteering">Volunteering</a></li>
            <li><a href="./about.html" id="about">About</a></li>
            <li><a href="./latex-example.html" id="latex">LaTeX Examples</a></li>
        </ul>
    </nav>
    <a href="#" class="menu-icon" onclick="toggleMenu()">&#9776;</a>
</header>
